.sidebar {
    width: 100%; 
    float: none; 
    margin: 10px; 
    text-align: center;
}

.sidebar .button{
    float: none; 
    padding: 0px;
}

.sidebar .label {
    padding: 0px;
    padding-top: 10px;
}
