<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>ServiceMatrix</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="https://builds.particular.net/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="Anything" StabilityConvention="None" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" StabilityConvention="None" />
  </Feeds>
  <Nugets>
    <Dependency Name="Newtonsoft.Json" Version="5.0.6" Mode="Fixed" />
    <Dependency Name="NuGet.VisualStudio" Version="2.8.1" Mode="Fixed" />
    <Dependency Name="NUnit" Version="2.6.2.0" Mode="Fixed" />
    <Dependency Name="Particular.Licensing.Sources" Version="0.1.0.51" Mode="Float" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>