@model CustomerInformationCollector.Models.StatsModel

@{
    ViewBag.Title = "Customer Information Collector - Stats";
}

<h2>Customer Information Collector - Stats</h2>


<p><b><u>Files Count:</u></b> @Model.FilesCount.ToString()
<p><b><u>Last Upload:</u></b> @(Model.LastUpload.HasValue ? Model.LastUpload.Value.ToString() : "No uploads")

        
