<#+
	public Version DslVersion
	{
		get { return new Version(this.Dsl.MajorVersion, this.Dsl.MinorVersion, this.Dsl.Build, this.Dsl.Revision); }
	}

	public string ToolName { get { return "NServiceBus.Modeling"; } }
#>