<#@ output extension=".cs" #>
<#@ Include File="..\..\..\NServiceBusStudio\source.extension.gen.ttinclude" #>

namespace NServiceBusStudio
{
	partial class NServiceBusMVC
    {
<# if (supportedVsVersion == "10.0") { #>
		private string VSVersion = "Visual Studio 2010";
<# } else { #>
		private string VSVersion = "Visual Studio 2012";
<# } #>
	}
}